

<form action ="artist-search" method = "GET">
    <label for="searchArtist"></label>
    <input type="text" name = "searchArtist">
    <button><a href="artist-search"></a>Search for and Artist/Band</button>
</form>
